﻿@{ Layout = null; }


<link rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
      integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
      crossorigin="anonymous" />
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400"
      rel="stylesheet" />

<link rel="stylesheet" href="~/Assets/css/style.css">
<body>

    <div id="form_wrapper">
        <div id="form_left">
            <img src="~/Assets/bg1.svg"/>
        </div>
        <form action="~/Home/Login" method="post">
            <div id="form_right" style="margin-top: 20%;">
                <h1>Login</h1>
                <div class="input_container">
                    <i class="fas fa-user"></i>
                    <input placeholder="Username"
                           type="text"
                           name="username"
                           id="field_email"
                           class="input_field" />
                </div>
                <div class="input_container">
                    <i class="fas fa-lock"></i>
                    <input placeholder="Password"
                           type="password"
                           name="password"
                           id="field_password"
                           class="input_field" />
                </div>
                <input type="submit"
                       value="Login"
                       id="input_submit"
                       class="input_field" />

            </div>
        </form>
    </div>

</body>