@model MVC_Produsen_Validasi.Models.PenggunaanVaksinViewModel
@{
    Layout = "~/Views/Shared/BPOM.cshtml";
}
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>


<div class="container">
    <p>Rumah Sakit</p>
    <h4>Data Lapor Penggunaan Vaksin</h4>
    <a href="#" class="btn btn-primary" onclick="AddNewLaporan(0)">Tambah</a> <br /><br />

    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>NIK</th>
                <th>Kode Vaksin</th>
                <th>No Rekam Medis</th>
                <th>Aksi</th>

            </tr>
        </thead>
        <tbody id="SetLaporanList">
            <tr id="LoadingStatus" style="color:red"></tr>
        </tbody>
    </table>

    @*Create A Popup Modal With Registration Form For Add Or Edit Report Record*@

    <div class="modal fade" id="MyModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 id="ModalTitle"></h4>
                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                </div>
                <div class="modal-body">
                    <form id="form">
                        <fieldset id="SubmitForm">
                            @Html.HiddenFor(m => m.idUsed, new { @id = "LapId" })
                            <div class="form-group">
                                @Html.DropDownListFor(m => m.idPend, ViewBag.ListOfDataPenduduk as SelectList, "--Select NIK--", new { @id = "DropDwn1", @class = "form-control" })
                            </div>
                            <div class="form-group">
                                @Html.DropDownListFor(m => m.idRegVaksin, ViewBag.ListOfRegVaksin as SelectList, "--Select Kode Vaksin--", new { @id = "DropDwn2", @class = "form-control" })
                            </div>
                            <div class="form-group">
                                @Html.TextBoxFor(m => m.noRekamMedis, new { @id = "norekam", @class = "form-control", @placeholder = "No Rekam Medis*" })
                            </div>
                            <div class="form-group">
                                <a href="#" class="btn btn-block btn-primary" id="SaveLaporanRecord">Save</a>
                            </div>

                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>

    @*Create A PopUp Modal For ReportConfirmation*@

    <div class="modal fade" id="ReportConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>Lapor Data Penggunaan Vaksin</h4>
                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                </div>
                <div class="modal-body">
                    <h5>Apakah anda yakin ingin melaporkan data ini ??</h5>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-danger" data-dismiss="modal" id="r">Batal</a>
                    <a href="#" class="btn btn-primary" onclick="ConfirmReport()">Ya</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $("#LoadingStatus").html("Loading....");
    $.get("/PenggunaanVaksin/GetPenggunaanVaksinList", null, DataBind);
    function DataBind(LaporanList) {
        var SetData = $("#SetLaporanList");
        for (var i = 0; i < LaporanList.length; i++) {
            var Data = "<tr class='row_" + LaporanList[i].idUsed + "'>" +
                "<td>" + LaporanList[i].idUsed + "</td>" +
                "<td>" + LaporanList[i].NIK + "</td>" +
                "<td>" + LaporanList[i].kode + "</td>" +
                "<td>" + LaporanList[i].noRekamMedis + "</td>" +
                "<td>" + "<a href='#' class='btn btn-warning' onclick='EditLaporanRecord(" + LaporanList[i].idUsed + ")' >Edit</a> <a href='#' class='btn btn-success' onclick='BuatLaporanRecord(" + LaporanList[i].idUsed + ")'>Lapor</a>" + "</td>" +
                "</tr>";
            SetData.append(Data);
            $("#LoadingStatus").html(" ");

        }
    }

    //Show The Popup Modal For Add New Report

    function AddNewLaporan(id) {
        $("#ModalTitle").html("Tambah Data Penggunaan Vaksin");
        $("#form")[0].reset();
        $("#LapId").val(0);
        $("#DropDwn2 option:selected").text("--Pilih Reg Vaksin--");
        $("#DropDwn1 option:selected").text("--Pilih NIK--");
        $("#MyModal").modal();
    }

    //Show The Popup Modal For Edit Report Record

    function EditLaporanRecord(idUsed) {
        var url = "/PenggunaanVaksin/GetPenggunaanVaksinById?idUsed=" + idUsed;
        $("#ModalTitle").html("Update Penggunaan Vaksin");
        $("#MyModal").modal();
        $.ajax({
            type: "GET",
            url: url,
            success: function (data) {
                var obj = JSON.parse(data);
                $("#LapId").val(obj.idUsed);
                $("#norekam").val(obj.noRekamMedis);
                $("#DropDwn1 option:selected").text(obj.Data_Penduduk.NIK);
                $("#DropDwn1 option:selected").val(obj.idPend);
                $("#DropDwn2 option:selected").text(obj.Reg_Vaksin.kode);
                $("#DropDwn2 option:selected").val(obj.idRegVaksin);

            }
        })
    }

    $("#SaveLaporanRecord").click(function () {
        var data = $("#SubmitForm").serialize();
        $.ajax({
            type: "Post",
            url: "/PenggunaanVaksin/SaveDataInDatabase",
            data: data,
            success: function (result) {
                alert("Success!..");
                window.location.href = "/PenggunaanVaksin/IndexPantau";
                $("#MyModal").modal("hide");

            }
        })
    })

    //Show The Popup Modal For CreateComfirmation
    var BuatLaporanRecord = function (idUsed) {
        $("#LapId").val(idUsed);
        $("#ReportConfirmation").modal("show");
    }
    var ConfirmReport = function () {
        var LapId = $("#LapId").val();
        $.ajax({
            type: "POST",
            url: "/PenggunaanVaksin/BuatLaporanRecord?idUsed=" + LapId,
            success: function (result) {
                $("#ReportConfirmation").modal("hide");
                $(".row_" + LapId).remove();
            }
        })
    }
</script>